@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    color: var(--color);
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    --color: 0, 0, 0;
    --bg-color: 255, 255, 255;
    --gray: 204, 204, 204;
    --accent: 100, 100, 255;
    --alt-accent: 255, 100, 100;
}
:root.dark {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
    --color: 255, 255, 255;
    --bg-color: 0, 0, 0;
    --gray: 51, 51, 51;
    --accent: 255, 100, 100;
    --alt-accent: 100, 100, 255;
}
*:focus {
    outline: 0;
}
*,
::before,
::after {
    transition: background-color 300ms;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
a,
button {
    color: rgb(var(--color));
    text-decoration: none;
    transition: color 300ms;
}
a:hover,
a:hover *,
button:hover,
button:hover * {
    color: rgb(var(--accent));
    fill: rgb(var(--accent));
}
body {
    margin: 0;
    transition: background-color 300ms;
}
input {
    background: transparent;
    outline: none;
}
/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--bg-color));
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--gray));
    border-radius: 9999px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--color), 0.3);
}
